.downloads
  padding: 29px 0
  background-color: $color-header
  margin-top: 395px
  margin-bottom: 25px
  &__inner
    display: flex
    flex-direction: column
    width: 320px
    padding: 0 20px
    margin: 0 auto

  &__link
    display: block
    color: #ffffff
    text-align: center
    border: 2px solid #ffffff
    border-radius: 30px
    padding: 10px
    margin-bottom: 15px
    font-family: "Open Sans", "Arial", sans-serif
    font-size: 18px
    font-weight: 700
    &:hover
      background-color: #ffffff
      color: $color-form
    &:active
      background-color: #ffffff
      color: $color-form-rgba

  &__description
    font-weight: 300
    line-height: 24px
    color: #ffffff
    text-align: center
.links
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 20px
  &__link
    width: 47px
    height: 56px
    background-color: red

@media (min-width: $tablet-width)
  .downloads
    margin-top: 0
    background-color: transparent
    &__inner
      padding: 0

    &__link
      width: 300px
      padding: 15px 30px
      margin: 0
      margin-bottom: 28px
      font-family: "Open Sans", "Arial", sans-serif
      font-size: 18px
      font-weight: 700
      line-height: 18px
    &__description
      width: 300px
      font-size: 18px
  .links
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    width: 300px
    padding: 20px
    margin-bottom: 16px

@media (min-width: $desktop-width)
  .downloads
    margin-top: 0
    background-color: transparent
    &__inner
      padding: 0

    &__link
      width: 305px
      padding: 15px 30px
      margin: 0
      margin-bottom: 50px
      font-family: "Open Sans", "Arial", sans-serif
      font-size: 21px
    &__description
      width: 300px
      font-size: 18px
  .links
    margin-bottom: 35px
