.downloads
  position: relative
  padding: 0
  background-color: $color-header
  margin-top: 395px
  margin-bottom: 20px
  min-height: 271px
  &::before
    position: absolute
    content: ""
    width: 320px
    height: 314px
    top: -287px
    left: calc(50% - 160px)
    background: url("../img/iphone-mobile.png")
    z-index: 2


  &__inner
    position: absolute
    display: flex
    flex-direction: column
    width: 320px
    padding: 28px 20px
    left: calc(50% - 160px)
    background-color: $color-header
    z-index: 5

  &__link
    display: block
    color: #ffffff
    text-align: center
    border: 2px solid #ffffff
    border-radius: 30px
    padding: 10px
    margin-bottom: 15px
    font-family: "Open Sans", "Arial", sans-serif
    font-size: 18px
    font-weight: 700
    &:hover
      background-color: #ffffff
      color: $color-form
    &:active
      background-color: #ffffff
      color: $color-form-rgba

  &__description
    font-weight: 300
    line-height: 24px
    color: #ffffff
    text-align: center
.links
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  padding: 20px
  &__link
    width: 47px
    height: 56px
    margin-top: auto

    &--android
      width: 42px
      height: 47px

    &--microsoft
      width: 44px
      height: 42px


@media (min-width: $tablet-width)
  .downloads
    position: relative
    margin-top: 0
    background-color: transparent
    &::before
      position: absolute
      content: ""
      width: 660px
      height: 545px
      top: -164px
      left: calc(50% - 170px)
      background: url("../img/iphone-tablet.png")
    &__inner
      position: absolute
      width: 300px
      padding: 30px 10px
      background: transparent



    &__link
      width: 300px
      padding: 15px 30px
      margin: 0
      margin-bottom: 28px
      font-family: "Open Sans", "Arial", sans-serif
      font-size: 18px
      font-weight: 700
      line-height: 18px
    &__description
      width: 300px
      font-size: 18px
  .links
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    width: 300px
    padding: 20px
    margin-bottom: 16px

@media (min-width: $desktop-width)
  .downloads
    margin-top: 0
    background-color: transparent
    &::before
      position: absolute
      content: ""
      width: 1050px
      height: 645px
      top: -212px
      left: calc(50% - 135px)
      background: url("../img/iphone-desktop.png")

    &__link
      width: 300px
      padding: 15px 28px
      margin: 0
      margin-bottom: 50px
      font-family: "Open Sans", "Arial", sans-serif
      font-size: 21px
    &__description
      width: 300px
      font-size: 18px
  .links
    margin-bottom: 35px
