.effect
  display: none

@media (min-width: $tablet-width)
  .effect
    display: block
    &__inner
      width: $tablet-width
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      background: #ffffff
      padding: 56px 20px 50px
    &__description
      width: 310px
      text-align: left
      margin: 0
    &__title
      width: 170px
      padding: 0
      line-height: 37px
      font-weight: 700
      font-size: 30px
    &__paragraph
      width: 300px
      padding: 9px 0
      line-height: 24px
      color: $color-menu-mobile
    &__link
      color: $color-form
      text-decoration: underline

@media (min-width: $desktop-width)
  .effect
    &__inner
      width: $desktop-width
      margin-top: 0
      background: #f2f2f2
      padding: 45px 120px 110px
    &__description
      width: 602px
      padding: 0 20px
    &__title
      width: 602px
      padding: 38px 0 15px
      line-height: 30px
    &__paragraph
      width: 521px
      padding: 9px 0 31px
      font-size: 18px
      line-height: 30px
    &__link
      font-weight: 400
      font-size: 18px
      line-height: 30px
      font-family: "Open Sans", "Arial", sans-serif


