.page-footer
  &__logo-block
    margin-bottom: 15px
  &__copyright
    margin-top: 20px
  &--index
    display: none
  &__inner
    padding: 40px
    text-align: center
.social
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 20px 25px
  &__btn
    position: relative
    display: inline-block
    vertical-align: top
    font-size: 0
    width: 47px
    height: 47px
    background: #ffffff
    border: 2px solid #000000
    border-radius: 50%
