.page-footer
  &--index
    display: none
  &__wrapper
    padding: 40px
    text-align:   center
.social
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  &__btn
    position: relative
    display: inline-block
    vertical-align: top
    font-size: 0
    width: 43px
    height: 43px
    background: #ffffff
    border: 2px solid #000000
    border-radius: 50%
