.page-header
  margin-top: 260px
  background-color: rgba(0, 0, 0, 0.3)
  &__inner
    display: flex
    justify-content: space-between
    padding: 16px 20px
.main-nav
  position: relative
  &__list
    display: block


.site-list
  position: absolute
  border-top: 1px solid #000000
  top: 65px
  left: 200px
  z-index: 1
  &__item
    background-color: $color-header
    width: 274px
    border-bottom: 1px solid #000000
    padding: 16px 23px
    text-align: center
  &__link
    font-weight: 700
    font-size: 18px
    line-height: 32px
    color: #ffffff
    text-transform: uppercase
    &:not(.site-list__link--active):hover
      color: $color-form
    &:not(.site-list__link--active):active
      color: rgba(210, 40, 86, 0.3)


