.page-header
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3)
  &__inner
    position: relative
    display: flex
    justify-content: space-between

    padding: 0
  &__logo
    position: absolute
.main-nav
  position: relative
  display: block
  width: 320px
  margin: 0 auto
  min-height: 325px
  outline: 1px solid red

  &__list
  border-top: 1px solid #000000
  &__item
    width: 320px
    background-color: $color-header
    border-bottom: 1px solid #000000
    padding: 16px 0
    text-align: center
  &__link
    font-weight: 700
    font-size: 18px
    line-height: 32px
    color: #ffffff
    text-transform: uppercase
    &:not(.site-list__link--active):hover
      color: $color-form
    &:not(.site-list__link--active):active
      color: rgba(210, 40, 86, 0.3)
