.page-form
  position: relative
  &__prize
    width: 320px
    position: absolute
    text-align: center
    top: -545px
    background: #ffffff
    padding: 43px 20px
    color: #000000
  &__required-field
    display: block
    text-transform: uppercase
    text-align: center
    padding: 20px

.form
  position: relative
  &__label
    display: block
    color: $color-form
    text-transform: uppercase
    padding: 0 23px
    &--contact
      margin-bottom: 5px
  &__input
    width: 278px
    font-family: "Open Sans", "Arial", sans-serif
    font-size: 18px
    line-height: 30px
    font-weight: 400
    padding: 14px 20px
    margin-bottom: 22px
  &__full-name
    position: absolute
    top: -382px
    background: #ffffff
    padding: 10px 20px
  &__checkbox
    background-color: #f2f2f2
    padding: 30px 0
    margin-top: 322px
  &__radio
    background-color: #f2f2f2
    padding: 30px 0
    margin-bottom: 18px
  &__area
    padding: 30px 20px
    margin-bottom: 13px
  &__area-description
    font-size: 18px
    line-height: 30px
    padding: 15px 20px 28px
    margin-top: 35px
  &__title
    position: absolute
    top: 30px
    color: $color-form
    font-size: 14px
    line-height: 18px
    text-transform: uppercase
    text-align: center
    padding: 0 23px
    &--checkbox
      padding: 0 43px
  &__input-checkbox,
  &__input-radio
    opacity: 0
  &__label-button
    display: block
    position: relative
    cursor: pointer
    padding-left: 90px
    font-family: "Open Sans", "Arial", sans-serif
    font-size: 18px
    line-height: 30px
    font-weight: 400
    color: $color-menu-mobile
    margin-bottom: 22px
    &:nth-of-type(1)
      margin-top: 50px
    &::before
      position: absolute
      content: ''
      width: 36px
      height: 38px
      top: -3px
      left: 20px
      background: #ffffff
      border: 1px solid #f1f1f1
    &::after
      position: absolute
      content: ''
      width: 0
      height: 0
      top: 8px
      left: 28px
    &--radio
      margin-bottom: 10px
      &::before
        border-radius: 50%
      &::after
        left: 31px
  &__contacts
    padding: 26px 20px
input[type="checkbox"]:checked + label::after
  width: 22px
  height: 10px
  border: 2px solid $color-form
  border-top: none
  border-right: none
  transform: rotate(-45deg)
input[type="radio"]:checked + label::after
  width: 15px
  height: 16px
  background-color: $color-form
  border-radius: 50%
input[type="submit"]
  display: block
  width: 280px
  text-align: center
  padding: 20px
  background-color: #2aab6d
  color: #ffffff
  font-size: 18px
  font-weight: 700
  text-transform: uppercase
  margin: 0 auto
  margin-bottom: 15px



fieldset
  position: relative
  border: none
