.page-form
  position: relative
  &__prize
    width: 320px
    position: absolute
    text-align: center
    top: -523px
    background: #ffffff
    padding: 43px 20px
    color: #000000

.form
  position: relative
  &__label
    color: $color-form
    text-transform: uppercase
    padding: 11px 23px
    margin-bottom: 12px
  &__input
    width: 278px
    font-family: "Open Sans", "Arial", sans-serif
    font-size: 18px
    line-height: 30px
    font-weight: 400
    padding: 14px 20px
    margin-bottom: 22px
  &__full-name
    position: absolute
    top: -360px
    background: #ffffff
    border: 1px solid #000000
    padding: 10px 20px
  &__checkbox
    background-color: #f2f2f2
    padding: 30px 20px
    margin-top: 300px

  &__title
    color: $color-form
    font-size: 14px
    line-height: 18px
    text-transform: uppercase
    text-align: center
    padding: 30px

fieldset
  border: none
