.panorama-day
  position: relative
  padding-top: 100px
  &__item
    position: absolute
    top: -40px
  &__comment-wrapper
    margin: 0 20px
    padding: 11px 18px 20px
    background: #f2f2f2

  &__name
    font-weight: 700
    line-height: 12px
  &__time
    font-size: 12px
    line-height: 12px
    text-transform: uppercase
  &__description
    line-height: 24px
    margin-bottom: 8px
  &__prefer
    text-transform: uppercase
    color: $color-form
    font-size: 12px
    line-height: 24px
    padding-left: 32px

.photo-user
  margin: 20px
  background: #f2f2f2
  &__comment-wrapper
    padding: 5px 18px 20px


  &__name
    font-weight: 700
    line-height: 12px
  &__time
    font-size: 12px
    line-height: 12px
    text-transform: uppercase
  &__description
    line-height: 21px
    margin-bottom: 11px
  &__prefer
    text-transform: uppercase
    color: $color-form
    font-size: 12px
    line-height: 24px
    padding-left: 32px




