.panorama-day
  &__picture
    display: block
    width: 320px
    padding: 0
    margin: 0 auto
  &__comment
    padding: 0 18px 20px
    background: #f2f2f2
    margin-top: -7px
    padding-top: 7px

  &__name
    font-weight: 700
    line-height: 12px
  &__time
    font-size: 12px
    line-height: 12px
    font-weight: 300
    text-transform: uppercase
  &__description
    line-height: 24px
    margin-bottom: 10px
  &__prefer
    text-transform: uppercase
    color: $color-form
    font-size: 12px
    line-height: 24px
    padding-left: 32px

.photo
  margin: 20px 0
  background: #f2f2f2
  &__comment
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 5px 18px 19px
    min-height: 75px


  &__name
    font-weight: 700
    line-height: 12px
    margin-bottom: 10px
  &__time
    font-weight: 300
    font-size: 12px
    line-height: 12px
    text-transform: uppercase
  &__description
    line-height: 21px
    margin-bottom: 13px
  &__inner
    display: flex
    margin-top: auto
  &__prefer
    text-transform: uppercase
    color: $color-form
    font-size: 12px
    line-height: 24px
    padding-left: 32px
  &__like
    background: none
    border: none

@media (min-width: $tablet-width)
  .panorama-day
    margin-bottom: 52px
    &__picture
      width: $tablet-width
      min-height: 509px
    &__comment
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      padding: 21px 28px 14px
      margin-top: 0
    &__name
      margin-bottom: 6px
    &__time
      margin-top: 1px
    &__description
      line-height: 24px
      margin-bottom: 10px
      order: 3
    &__like
      order: 2
      padding-left: 25px
      border: none
      background: none
    &__prefer
      display: flex
      line-height: 12px

  .photos
    margin-bottom: 47px
    &__inner
      display: flex
      flex-wrap: wrap
      justify-content: space-between

  .photo
    width: 300px
    margin: 0 0 20px
    &__comment
      padding: 21px 27px 23px
      min-height: 155px

    &__description
      margin-bottom: 15px
    &__inner
      flex-direction: row-reverse
      justify-content: space-between
    &__prefer
      padding-left: 0

  .photo picture
    display: block
    width: 300px
    height: 300px

@media (min-width: $desktop-width)
  .panorama-day
    &__picture
      width: 1200px
      min-height: 506px

    &__comment
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      padding: 21px 26px 14px
      margin: 0 10px
    &__time
      margin-left: 0
      margin-top: 0
    &__prefer
      line-height: 12px
      margin-right: 0

  .photos
    margin-bottom: 8px
    &__inner
      margin: 0 10px

  .photo
    margin: 0 0 52px

  .photo picture
    height: 400px







