.panorama-day
  &__picture
    width: 320px
    padding: 0
    margin: 0 auto
    text-align: center
  &__comment
    padding: 11px 18px 20px
    background: #f2f2f2

  &__name
    font-weight: 700
    line-height: 12px
  &__time
    font-size: 12px
    line-height: 12px
    text-transform: uppercase
  &__description
    line-height: 24px
    margin-bottom: 8px
  &__prefer
    text-transform: uppercase
    color: $color-form
    font-size: 12px
    line-height: 24px
    padding-left: 32px

.photo
  margin: 20px 0
  background: #f2f2f2
  &__comment
    padding: 5px 18px 20px


  &__name
    font-weight: 700
    line-height: 12px
  &__time
    font-size: 12px
    line-height: 12px
    text-transform: uppercase
  &__description
    line-height: 21px
    margin-bottom: 11px
  &__prefer
    text-transform: uppercase
    color: $color-form
    font-size: 12px
    line-height: 24px
    padding-left: 32px




