.post
  &__description
    width: 320px
    margin: 0 auto
    text-align: center
    padding: 20px 0 21px
    margin-bottom: 20px
  &__inner
    background-color: #f2f2f2
    padding-top: 20px
    padding-bottom: 40px
  &__tools-list
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding-bottom: 79px
    border-bottom: 1px solid #d0d0d0
    margin-bottom: 38px
  &__icon
    position: relative
    margin-bottom: 48px
    &::before
      content: ''
      position: absolute
      width: 48px
      height: 44px
      left: -20px
      bottom: -55px
      background: pink
  &__tool-wrapper
    position: relative
  &__filter
    position: relative
    &--contrast,
    &--bright
      display: none
    &--size
      position: absolute
      left: -20px
      bottom: -45px
  &__filter-scale
    width: 240px
    height: 2px
    background: #000000
  &__filter-toggle
    position: absolute
    left: 193px
    top: -6px
    width: 14px
    height: 14px
    border: 2px solid $color-form
    background: #ffffff
    cursor: pointer
    border-radius: 50%
    &:active
      background-color: $color-form
  &__post,
  &__cancel
    display: block
    width: 276px
    padding: 16px 0
    font-weight: 700
    font-size: 18px
    line-height: 18px
    text-align: center
    border-radius: 30px
    background: #ffffff
    cursor: pointer

  &__post
    border: 2px solid $color-form
    color: $color-form
    margin-bottom: 15px
    &:hover
      background-color: $color-form
      color: #ffffff
    &:active
      background-color: $color-form
      color: rgba(255, 255, 255, 0.3)

  &__cancel
    border: 2px solid #d0d0d0
    color: #d0d0d0
    &:hover
      border: 2px solid #b5b9be
      color: #b5b9be
    &:active
      background-color: #b5b9be
      color: rgba(255, 255, 255, 0.3)

@media (min-width: $tablet-width)
  .post
    &__description
      width: $tablet-width
      font-size: 18px
      padding: 20px 0 21px
      margin-bottom: 46px
    &__inner
      padding-top: 58px
      padding-bottom: 54px
      margin-bottom: 127px
    &__form
      display: flex
      justify-content: space-between
    &__tools-wrapper
      display: flex
      flex-direction: column
      width: 270px
    &__tools-list
      display: flex
      flex-wrap: wrap
      flex-direction: column
      justify-content: space-around
      padding-bottom: 0
      border-bottom: none
      margin-bottom: 50px



    &__tool-wrapper
      display: flex
      justify-content: space-between
      width: 250px
      padding: 20px 0 30px
      position: relative
      border-bottom: 1px solid #d0d0d0
      margin-bottom: 15px
    &__icon
      margin-bottom: 0
      &::before
        width: 24px
        height: 20px
        left: 0
        bottom: -9px
    &__filter
      position: relative
      &--contrast,
      &--bright
        display: block
      &--size
        position: relative
        left: 0
        bottom: 0
    &__filter-scale
      width: 203px
      background: $color-menu-mobile
    &__filter-toggle
      left: 150px
    &__post,
    &__cancel
      width: 260px
    &__post
      margin-bottom: 30px

    &__form picture
      display: block
      width: 300px
      height: 400px

@media (min-width: $desktop-width)
  .post
    margin-bottom: 225px
    &__inner
      background: none
      padding-top: 20px
      padding-bottom: 40px
    &__form
      background: #f2f2f2
      padding: 60px
      margin: 0 10px
    &__form picture
      width: 390px
      padding-left: 20px
    &__tools-wrapper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      width: 410px
    &__tools-list
      margin-bottom: 140px
    &__tool-wrapper
      display: flex
      justify-content: space-between
      width: 410px
      padding: 10px 0 29px
      position: relative
      border-bottom: 1px solid #d0d0d0
      margin-bottom: 15px
    &__filter
      padding: 0 30px
    &__filter-scale
      width: 290px

    &__post,
    &__cancel
      width: 185px
      padding: 0
    &__post
      margin-bottom: 0



