.promo
  background-image: url("../img/background-mobile@1x.jpg")
  background-repeat: no-repeat
  background-position: center top
  margin-top: -65px
  min-height: 462px
  &__title
    display: none
    &--photo,
    &--form
      display: block
      width: 320px
      margin: 0 auto
      font-weight: 300
      font-size: 24px
      color: #ffffff
      text-align: center
      padding: 25px 45px
      padding-top: 95px
