.reviews
  position: relative
  padding: 20px
  margin-top: -45px
  padding-top: 45px
  margin-bottom: 0
  background-color: #ffffff
  &::before
      position: absolute
      content: ""
      width: 320px
      height: 30px
      top: 0
      left: calc(50% - 160px)

      background-color: #ffffff
      z-index: 2
  &__author-name
    display: block
    font-weight: 700
    font-style: normal
    font-size: 18px
    color: #000000
    margin: 0 auto
    text-align: center
  &__author-parameter
    display: none
  &__text
    padding: 11px 0
    text-align: center
    font-style: normal
    margin-bottom: 22px

  &__btn
    display: none

@media (min-width: $tablet-width)
  .reviews
    margin: 0
    padding: 5px 20px
    &::before
      position: static

    &__inner
      margin-bottom: 0
    &__list
      margin-bottom: 32px
    &__text
      font-size: 18px
      color: $color-menu-mobile
    &__item
      display: flex
      flex-direction: column-reverse
    &__author-name
      font-size: 20px
      margin-bottom: 5px
    &__author-parameter
      display: block
      font-size: 14px
      font-weight: 400
      line-height: 30px
      color: inherit
      margin: 0 auto
      text-align: center
@media (min-width: $desktop-width)
  .reviews
    margin: 0
    margin-top: 70px

    &__inner
      padding: 100px 100px 0
      margin-bottom: 15px
    &__list
      margin-bottom: 32px
    &__text
      font-size: 18px
      margin-bottom: 25px
    &__author-name
      font-size: 24px
      margin-bottom: 2px
    &__author-parameter
      font-size: 18px
    &__toggles
      display: none


